
.stat-box {
    width: 100%;
    @extend %content;
    justify-content: space-between;
    @include adaptiv(padding-bottom, 40, 216);
    @media (min-width: 1200px) { padding-bottom: 216px; }

    @media (max-width: 1070px) {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    &-item {
        flex: 0 1 334px;
        display: flex;
        align-items: center;

        &:last-child { 
            @media (max-width: 1070px) { 
                flex: 1 1 100%;
                margin-top: 14px;
                & .stat-box-content { max-width: 100% }
            } 
        }

        &:first-child { 
            @media (max-width: 730px) { margin-bottom: 14px; } 
        }

        @media (max-width: 730px) {
            flex: 1 1 100%;
            & .stat-box-content { max-width: 100% }
        }

        .stat-box-image {
            @include adaptiv(width, 40, 80);
            @include adaptiv(height, 40, 80);

            @media (max-width: 400px) { flex: 0 0 40px; max-height: 40px; height: 40px }
            
            @media (min-width: 1200px) {
                width: 80px;
                height: 80px;
            }

            border-radius: 50%;
            background: rgba(255, 255, 255, 0.1);
            @extend %content;
            margin-right: 24px;

            .icon-Stat_result { @extend %content };
            .icon-Person { @extend %content };
            .icon-Earth { @extend %content }

            .icon-Stat_result:before { 
                color: $blueColor;
                @include adaptiv-font(32, 18);
                @media (min-width: 1200px) { font-size: 32px; }
            }

            .icon-Person:before { 
                color: $blueColor; 
                @include adaptiv-font(32, 18);
                @media (min-width: 1200px) { font-size: 32px; }
            }

            .icon-Earth:before { 
                color: $blueColor; 
                @include adaptiv-font(32, 18);
                @media (min-width: 1200px) { font-size: 32px; }
            }
        }

        .stat-box-content {
            max-width: 230px;

            &-title {
                font-weight: 700;
                font-size: 40px;
                line-height: 150%;
                color: #fff;
                @include adaptiv-font(40, 22);
                @media (min-width: 1200px) { font-size: 40px; }
            }

            &-text {
                font-weight: 400;
                font-size: 16px;
                line-height: 175%;
                letter-spacing: 0.01em;
                color: #E0E0E0;
            }
        }
    }
}















